    .mt-10 {
        margin-top: 10px;
    }
    
    .ml-5 {
        margin-left: 5px;
    }
    
    .ml-20 {
        margin-left: 20px;
    }
    
    .ml-30 {
        margin-left: 30px;
    }
    
    .ml-10 {
        margin-left: 10px;
    }
    
    .mb-10 {
        margin-bottom: 10px;
    }
    
    .mb-30 {
        margin-bottom: 30px;
    }
    
    .mt-15p {
        margin-top: 15px;
    }
    
    .mt-30 {
        margin-top: 30px;
    }
    
    .mt-20 {
        margin-top: 20px;
    }
    
    .m-primary {
        color: #0590ff;
    }
    
    .m-warning {
        color: #FF3A3A;
    }
    
    // 表单样式 经营状况
    .management-status {
        .front-time {
            width: 95px;
            height: 30px;
            margin-right: 35px;
            border-radius: 15px;
            padding: 0 25px;
            color: #55A1FF;
            height: 30px;
            margin-top: 5px;
        }
        .front-time:hover {
            background-color: #fff;
        }
    }
    
    .search-form {
        display: flex;
        .el-select {
            width: 190px;
            height: 40px;
        }
    }
    
    .el-select {
        width: 190px;
    }
    
    .el-input {
        width: 190px;
    }
    
    // 按钮
    .search-botton {
        margin-left: 10px;
    }
    
    // 表头
    .el-radio-button__orig-radio:checked+.el-radio-button__inner {
        background: rgba(225, 238, 255, 1);
        color: #55a1ff;
        box-shadow: none;
    }
    
    .el-radio-button--medium .el-radio-button__inner {
        background: rgba(243, 243, 243, 1);
    }
    
    // 表单框
    .box-inform {
        background: #FFFFFF;
        padding: 30px 30px 1px 30px;
        margin-bottom: 20px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    }
    
    // 表格框
    .box-table {
        background: #FFFFFF;
        padding: 30px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
        .el-table {
            border: 1px solid #EBEEF5;
        }
    }
    
    // 查询按钮
    .search-btn {
        margin-left: 20px;
    }
    
    // 表单弹框
    .inform-dialog {
        padding-top: 30px;
        .el-dialog__header {
            padding: 30px 0 30px 30px;
            border: 1px solid #DCDFE6;
            .el-dialog__title {
                font-weight: 700;
            }
        }
        .el-dialog__body {
            padding: 30px 30px 0 30px;
        }
        .el-dialog__footer {
            text-align: center;
            padding-bottom: 30px;
            .sure-btn {
                margin-left: 20px;
            }
        }
    }
    
    .dialog-input-table {
        .el-dialog__header {
            padding: 30px 0 30px 30px;
            border: 1px solid #DCDFE6;
        }
        .el-dialog__body {
            padding: 0 30px 30px 30px;
            .el-form {
                display: flex;
                .el-form-item {
                    margin-left: 20px;
                    // margin-bottom: -17px;
                    .el-form-item__label {
                        color: #909399;
                        font-weight: 700;
                    }
                    .el-input {
                        width: 100px;
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
        .el-dialog__footer {
            text-align: center;
            padding-bottom: 30px;
            margin-top: 20px;
            .info {
                margin-left: 20px;
            }
        }
    }
    
    // 表格
    // 高亮省略号
    .el-table {
        .g-column-light-box {
            .cell {
                color: #0590ff;
            }
        }
    }
    
    // 订单表头
    .purchase-order {
        .card-header {
            display: flex;
            align-items: flex-start;
            .sales-Order {
                font-size: 18px;
                font-family: PingFangSC;
                font-weight: 600;
                color: rgba(51, 51, 51, 1);
                line-height: 18px;
                position: relative;
                text-indent: 10px;
                margin: 10px 60px 0 0;
            }
            .sales-Order::after {
                content: "";
                left: 0;
                top: 3px;
                position: absolute;
                width: 4px;
                height: 14px;
                background: rgba(51, 51, 51, 1);
                border-radius: 3px;
            }
            .build-botton {
                margin-left: 675px;
                height: 40px;
            }
        }
        .order-date {
            display: flex;
            margin-left: 140px;
        }
        .search-bottom {
            margin-left: 30px;
            width: 64px;
            height: 40px;
        }
    }
    
    // 提示信息
    .tips {
        font-size: 14px;
        color: #999999;
        line-height: 40px;
    }
    
    // 分页样式
    .el-pagination {
        text-align: right;
        margin-top: 20px;
    }
    
    // 带提示的输入框
    .inform-dialog {
        .input-tips {
            margin-bottom: 5px;
        }
        .tips-info {
            color: #F56C6C;
            margin-left: 100px;
        }
    }
    
    .el-upload {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    
    // 采购单表头
    .nav {
        display: flex;
        .back {
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            margin-top: 5px;
            height: 25px;
            color: #999999;
            cursor: pointer;
            span {
                margin-left: 30px;
            }
        }
    }
    
    // 订单详情页input输入框样式
    .order-detail {
        span {
            line-height: 40px;
            font-size: 14px;
            // color: #606266;
        }
    }
    
    // 订单底部按钮
    .botton-bottom {
        text-align: center;
        margin: 10px 0 30px 0;
        .order-botton {
            width: 200px;
            height: 40px;
            margin-left: 40px;
        }
    }
    
    .el-container {
        min-width: 1405px;
    }
    
    // confirm
    .el-message-box {
        width: auto;
        min-width: 270px;
        padding-bottom: 30px;
    }
    
    .el-message-box__header {
        padding: 30px;
        padding-bottom: 0;
        text-align: center;
    }
    
    .el-message-box__title {
        color: #575962;
        font-size: 18px;
        font-weight: bold;
    }
    
    .el-message-box__content {
        padding: 15px 30px 10px;
    }
    
    .el-message-box__message p {
        color: #9699a2;
    }
    
    .cus-confirm .el-message-box__content {
        padding: 30px;
    }
    
    .el-message-box__btns {
        padding: 0 27px;
        display: flex;
        .el-button:nth-child(2) {
            margin-left: 20px;
        }
        .el-button {
            padding: 0;
            height: 40px;
            line-height: 40px;
            flex: 1;
            // margin-left: 10px!important;
        }
    }
    
    .dialog-select-goods {
        .el-dialog__body {
            padding: 10px 30px 30px 30px;
        }
    }
    
    .medium {
        height: 40px;
        margin: 0 10px 0 0!important;
        .area-selected-trigger {
            padding-top: 0;
            // color: #b4bccc;
        }
    }
    
    .el-form {
        .dialog-select-goods {
            .el-dialog__header {
                .el-dialog__title {
                    font-size: 18px;
                }
            }
        }
        .dialog-input-table {
            .set-btn {
                color: #0590ff;
            }
        }
    }
    
    .el-dialog__header {
        padding: 30px 0 30px 30px;
        border: 1px solid #DCDFE6;
        .el-dialog__title {
            font-weight: 700;
            font-size: 18px;
        }
    }
    
    .dialog-footer {
        .el-button {
            padding: 0;
            width: 80px;
            height: 40px;
        }
    }
    
    // .el-message-box {
    //     width: 470px;
    //     .el-message-box__btns {
    //         width: 140px;
    //         margin: 10px 0 0 165px;
    //     }
    // }
    .search-form-other {
        .el-form-item {
            margin-bottom: 10px;
        }
    }
    
    .dialog-select-goods {
        .el-dialog__header {
            padding: 30px 0 0px 30px;
            border: none;
        }
        .el-dialog__body {
            padding: 18px 20px;
        }
    }
    
    .detail-dialog {
        .el-dialog__body {
            padding: 20px 30px 3px 30px;
        }
    }
    
    .el-table {
        .el-form-item {
            margin-bottom: 0;
            .el-form-item__content {
                position: inherit;
                .el-form-item__error {
                    position: absolute;
                    top: 69%;
                    left: -12px;
                    padding-top: 10px;
                    width: 140px;
                }
            }
        }
    }
    
    .formula {
        .el-input {
            width: 110px;
        }
    }
    
    .el-dialog__footer {
        text-align: center;
        padding: 30px;
        border: 1px solid #DCDFE6;
    }
    
    .label::after {
        content: "";
        left: 0;
        top: 3px;
        position: absolute;
        width: 4px;
        height: 14px;
        background: rgba(51, 51, 51, 1);
        border-radius: 3px;
    }
    
    .label {
        font-size: 18px;
        font-family: PingFangSC;
        font-weight: 600;
        color: rgba(51, 51, 51, 1);
        line-height: 18px;
        position: relative;
        text-indent: 10px;
    }
    
    .el-dialog__body {
        padding: 30px;
    }
    
    .price-tip {
        color: #878787;
        font-size: 14px;
        margin-bottom: 25px;
    }
    
    .el-date-picker__time-header {
        .el-input {
            width: 100%;
        }
    }